REPO_DIR="/path/to/CoolifyBR"

BACKUP_JOB_NAME="remote-coolify"
REMOTE_ALIAS="coolify-source"
REMOTE_HOST="203.0.113.10"
REMOTE_USER="root"
REMOTE_PORT="22"
REMOTE_PASSWORD=""
REMOTE_KEY_PATH="/root/.ssh/id_ed25519_remote_coolify"
REMOTE_HOST_FINGERPRINT=""

REMOTE_REPO_DIR="/root/CoolifyBR"
REMOTE_OUTPUT_DIR="/root/CoolifyBR/backups"

LOCAL_BACKUP_ROOT="/srv/backups/remote-coolify"

BACKUP_MODE="full"
REMOTE_BACKUP_EXTRA_ARGS=""
VERIFY_AFTER_PULL="true"
VERIFY_VOLUME_ARCHIVES="true"
DELETE_REMOTE_ARCHIVE_AFTER_PULL="false"
DELETE_LOCAL_ARCHIVE_AFTER_EXTRACT="false"
RETENTION_DAILY="7"
RETENTION_WEEKLY="4"
RETENTION_MONTHLY="6"
